<div class='container'>
  <div class='row'>
    <div class='col-auto pl-0 mt-4 pb-2'>
      <h4>Search GitHub</h4>
    </div>
  </div>

  <div class='form-row w-100 ml-0 mb-4 mt-4 align-items-start'>
    <div class='col-auto pl-0'>
      <input #query
        class="form-control mr-4"
        autocomplete="off"
        type="text"
        (keyup.enter)="onSearch(query.value)" />
    </div>
    <div class='col-auto'>
      <button class="btn btn-success" (click)="onSearch(query.value)">Search</button>
    </div>
  </div>
  <div class='row w-100 ml-0 mt-4 mb-4'>
    <div class='col-12 pl-0'>
      <div class='list-group list-group-flush results'>
        <div class='list-group-item repo' *ngFor='let repo of repos'>
          <div class='row'>
            <div class='col-12'>
              <div class='row'>
                <div class='col-auto'>
                  <svg class="octicon octicon-repo-forked" viewBox="0 0 10 16" version="1.1" width="10" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 1a1.993 1.993 0 00-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 002 1a1.993 1.993 0 00-1 3.72V6.5l3 3v1.78A1.993 1.993 0 005 15a1.993 1.993 0 001-3.72V9.5l3-3V4.72A1.993 1.993 0 008 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
                </div>
                <div class='col-11'>
                  <div class='row'>
                    <div class='col-auto'>
                      <a href="{{repo.url}}">
                        <strong>{{repo.fullname}}</strong>
                      </a>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-auto'>
                      <p>{{repo.description}}</p>
                    </div>
                  </div>

                  <div class='row text-muted'>
                    <div class='col-auto'>
                      <svg
                        class="octicon octicon-primitive-dot"
                        viewBox="0 0 8 16"
                        version="1.1"
                        width="8"
                        height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd" d="M0 8c0-2.2 1.8-4 4-4s4 1.8 4 4-1.8 4-4 4-4-1.8-4-4z"></path>
                      </svg>
                      <small class='ml-1'>{{repo.language}}</small>
                    </div>
                    <div class='col-auto'>
                      <svg
                        class="octicon octicon-repo-forked"
                        viewBox="0 0 10 16"
                        version="1.1"
                        width="10"
                        height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 1a1.993 1.993 0 00-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 002 1a1.993 1.993 0 00-1 3.72V6.5l3 3v1.78A1.993 1.993 0 005 15a1.993 1.993 0 001-3.72V9.5l3-3V4.72A1.993 1.993 0 008 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
                      </svg>
                      <small class='ml-1'>{{repo.forks}}</small>
                    </div>
                    <div class='col-auto'>
                      <svg
                        class="octicon octicon-star"
                        viewBox="0 0 14 16"
                        version="1.1"
                        width="14"
                        height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path>
                      </svg>
                      <small class='ml-1'>{{repo.stars}}</small>
                    </div>
                    <div class='col-auto'>
                      <svg
                        class="octicon octicon-issue-opened"
                        viewBox="0 0 14 16"
                        version="1.1"
                        width="14"
                        height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 011.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
                      </svg>
                      <small class='ml-1'>{{repo.issues}}</small>
                    </div>
                    <div class='col-auto'>
                      <svg
                        class="octicon octicon-eye"
                        viewBox="0 0 16 16"
                        version="1.1"
                        width="16"
                        height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path>
                      </svg>
                      <small class='ml-1'>{{repo.watchers}}</small>
                    </div>
                  </div>

                  <div class='row text-muted'>
                    <div class='col-auto'>
                      <small class='ml-1'>{{repo.updatedAt | date: 'medium'}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row w-100 mb-4' *ngIf='repos'>
    <div class="btn-group ml-auto mr-0" role="group" aria-label="Basic example">
      <a
        (click)="onPreviousClick()"
        type="button"
        [ngClass]="{'btn': true, 'btn-outline-primary': true, 'disabled': isFirstPage}">
        Previous
      </a>
      <a
        (click)="onNextClick()"
        type="button"
        [ngClass]="{'btn': true, 'btn-outline-primary': true, 'disabled': isLastPage}">
        Next
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
